h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    color: #ffffff;
}

p {
    color: black;
    margin: 0;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.title {
    background-color: #3480fa;
    color: #000000;
    text-align: left;
    margin-bottom: 3rem;
    padding: 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
}

.main {
    text-align: left;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
}

.video {
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
}

.arms-img {
    height: 100px;
    width: auto;
    text-align: right;
}

.end {
    background-color: #3480fa;
    color: #ffffff;
    text-align: center;
    padding: 1rem 1rem;
    margin-top: 2rem;
    position: absolute;
    bottom: 0px;
}

.hide {
    visibility: hidden;
}