h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #ffffff;
}

p {
    color: black;
    margin: 0;
}

.title {
    background-color: #3480fa;
    color: #000000;
    text-align: left;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
}

.main {
    text-align: left;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
}

.video {
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 3rem;
    padding: 3rem 1rem;
}

.arms {
    height: 200px;
    width: auto;
    text-align: right;
}

.end {
    background-color: #3480fa;
    color: #ffffff;
    text-align: left;
    padding: 1rem 1rem;
    margin-top: 2rem;
}
/* add one more */