h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: darkblue;
}

p {
    color: black;
    margin: 0;
}

.title {
    background-color: #4f7b2a;
    color: #00ff00;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
}

.main {
    text-align: left;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
}

/* add three more */