h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: darkblue;
}

p {
    color: black;
    margin: 0;
}

.header {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

/* add three more */