h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: darkblue;
}

p {
    color: black;
    margin: 0;
}

.title {
    background-color: #e8e9eb;
    color: #000000;
    text-align: left;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
}

.main {
    text-align: left;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
}

.video {
    text-align: center;
    background-color: #e8e9eb;
    margin-bottom: 3rem;
    padding: 3rem 1rem;
}
/* add one more */