{% extends "layout.html" %}

{% block title %}
    Your investments
{% endblock %}

{% block main %}

    <div class="section">
        You have {{ balance | usd }} cash in your account
        The current total value of your cash and investments is

        <h2>Investments</h2>
        <table>
            <thead>
                <tr>
                    <th>Stock</th>
                    <th>Shares</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in index_table %}
                <tr>
                    <td>{{ id["name"] }}</td>
                    <td>{{ id["day"] }} / {{ id["month"]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}