{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <div class="section">



        <h2>History</h2>
        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Number of shares</th>
                    <th>Date and time</th>
                </tr>
            </thead>
            <tbody>
                {% for id in history %}
                <tr>
                    <td>{{ id["type"] }}</td>
                    <td>{{ id["stock"] }} </td>
                    <td>{{ id["value"] }}</td>
                    <td>{{ id["shares"] }} </td>
                    <td>{{ id["time"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}