{% extends "layout.html" %}

{% block title %}
    Your investments
{% endblock %}

{% block main %}

    <div class="section">
        <h2>Summary</h2>
        <p>You have {{ balance }} cash in your account</p>
        <p>The current total value of your cash and investments is {{ total }}
        <h2></h2>
        <h2>Investments</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Stock</th>
                    <th>Shares</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in index_table %}
                <tr>
                    <td>{{ stock["stock"] }} </td>
                    <td>{{ stock["shares"] }}</td>
                    <td>{{ stock["value"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2></h2>
        <h2>Add cash to account</h2>
        <form action="/cash" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="cash" name="cash" placeholder="Amount to be added" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Add cash</button>
        </form>
    </div>

{% endblock %}